body {
  font-family: 'Microsoft Yahei';
}

p {
  margin: 0;
  padding: 0;
  display: inline-block;
}

a {
  text-decoration: none;
}

select,
input {
  border: none;
  outline: none;
}

/* top模块内样式 */
.top {
  line-height: 30px;
  font-size: 13px;
  color: #868686;
}

.top .call {
  float: left;
  padding-left: 20px;
  background: url('../img/icon-call.png') no-repeat center left;
}

.top .welcome {
  float: right;
}

.top a {
  color: #2da5e1;
  padding-left: 10px;
}

/* #header 模块内样式 */
.header .logo {
  width: 402px;
  height: 74px;
  padding: 9px 0;
  display: inline-block;
}

.header .logo img {
  width: 100%;
  height: 100%;
}

.header .search {
  width: 326px;
  height: 38px;
  position: absolute;
  right: 0px;
  top: 29px;
}

/* #nav 模块内样式 */
.nav .link {
  display: inline-block;
  padding-left: 30px;
  line-height: 36px;
  color: #fff;
  font-size: 16px;
  min-width: 80px;
  text-align: center;
}

.nav .right {
  float: right;
}

.nav a:hover {
  color: #d7f3ff;
}

.nav .menu {
  width: 130px;
  padding-right: 30px;
  background-color: #1fa4f0;
  position: relative;
}

.nav .menu .menu-list {
  background-color: #1fa4f0;
  width: 100%;
  height: 423px;
  position: absolute;
  left: 0;
  top: 36px;
}

/* main */
/* main 医院简介区 */
.main .main-top {
  margin-top: 30px;
  background-color: #f7f7f7;
}

.main .main-top .main-top-title {
  height: 18px;
  line-height: 18px;
  padding: 18px 0;
  margin: 0 25px;
  border-bottom: 1px solid #dcdddd;
  font-size: 20px;
}

.main .main-top .main-top-title .follow {
  margin-left: 10px;
  font-size: 12px;
  color: #f29600;
  cursor: pointer;
}

.main .main-top .main-top-title .right {
  float: right;
  font-size: 12px;
}

.main .main-top .main-top-title .right em {
  font-style: normal;
  color: #0000ff;
}

.main .main-top .main-top-content {
  margin-top: 12px;
  padding: 0 25px 20px;
}

.main .main-top .main-top-content-left {
  width: 200px;
  height: 150px;
  display: block;
  float: left;
}

.main .main-top .main-top-content-left img {
  display: block;
  width: 200px;
  height: 150px;
}

.main .main-top .main-top-content-mid {
  display: inline-block;
  padding-left: 40px;
  width: 420px;
}

.main .main-top .main-top-content-mid p {
  display: inline-block;
  line-height: 16px;
  height: 16px;
  margin: 10px 0;
  padding-left: 20px;
  width: 420px;
  color: #888888;
  font-size: 12px;
}

.main .main-top .main-top-content-mid p:nth-child(1) {
  background: url('../img/icon-web.png') no-repeat 0 0px;
}

.main .main-top .main-top-content-mid p:nth-child(2) {
  background: url('../img/icon-web.png') no-repeat 0 -22px;
}

.main .main-top .main-top-content-mid p:nth-child(3) {
  background: url('../img/icon-web.png') no-repeat 0 -44px;
}

.main .main-top .main-top-content-mid p:nth-child(4) {
  background: url('../img/icon-web.png') no-repeat 0 -63px;
}

.main .main-top .main-top-content-right {
  display: block;
  float: right;
  width: 250px;
  height: 165px;
}

.main .main-top .main-top-content-right img {
  display: block;
  width: 250px;
  height: 165px;
}

/* main 医院体系区域 */
.main .main-bottom {
  color: #333;
  margin: 38px 0 100px;
}

.main .main-bottom .tab {
  border-bottom: 3px solid #60bff2;
}

.main .main-bottom .tab .tab-item {
  display: inline-block;
  width: 110px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #60bff2;
}

.main .main-bottom .tab .tab-active {
  background-color: #60bff2;
  color: #fff;
}

/* 科室详情 */
.main .main-bottom .main-bottom-content {
  margin-top: 20px;
  display: none;
}

/* 预约挂号 */
.main .main-bottom .main-bottom-content .block {
  width: 710px;
  display: block;
  float: left;
}

.main .main-bottom .main-bottom-content .block .block-caption {
  padding: 10px 20px;
  background-color: #f4f6fa;
}

.main .main-bottom .main-bottom-content .block .block-content .block-content-item {
  border: 1px solid #f4f6fa;
  border-top: none;
  font-size: 15px;
  background-color: #f2fbff;
}

.main .main-bottom .main-bottom-content .block .block-content .block-content-item .content-item-title {
  display: block;
  float: left;
  text-align: center;
  line-height: 16px;
  padding: 10px 5px;
  height: 100%;
  width: 135px;
  color: #888888;
  font-weight: bold;
}

.main .main-bottom .main-bottom-content .block .block-content .block-content-item .content-item-detail {
  padding: 10px 0 0 23px;
  background-color: #fff;
  float: right;
  text-align: left;
  width: 540px;
}

.main .main-bottom .main-bottom-content .block .block-content .block-content-item .content-item-detail a {
  display: inline-block;
  line-height: 16px;
  height: 16px;
  width: 120px;
  margin-bottom: 12px;
  color: #4c4948;
  font-weight: bolder;
  font-size: 15px;
}

/* 右侧预约规则 */
.main .main-bottom .main-bottom-content .block-right {
  width: 272px;
  height: 283px;
  float: right;
  display: block;
  border: 1px solid #f4f6fa;
}

.main .main-bottom .main-bottom-content .block-right .block-right-caption {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  font-size: 15px;
  color: #606060;
  background-color: #f4f6fa;
}

.main .main-bottom .main-bottom-content .block-right .block-right-caption span {
  color: #00b3ea;
  font-size: 12px;
}

.main .main-bottom .main-bottom-content .block-right .block-right-content {
  padding: 10px 5px 10px 10px;
  height: 222px;
  overflow: auto;
}

.main .main-bottom .main-bottom-content .block-right .block-right-content dl {
  font-size: 12px;
  padding-bottom: 5px;
  color: #888;
  overflow: hidden;
}

.main .main-bottom .main-bottom-content .block-right .block-right-content dl dt {
  display: inline-block;
  float: left;
  font-size: 12px;
  color: #555;
  width: 68px;
}

.main .main-bottom .main-bottom-content .block-right .block-right-content dl dd {
  display: inline-block;
  float: left;
  width: 170px;
  font-weight: normal;
}

/* 医院介绍 */
.main .main-bottom .main-bottom-content:nth-child(3) {
  width: 960px;
  margin: 20px auto 0;
}

.main .main-bottom .main-bottom-content:nth-child(3) p {
  text-indent: 2em;
  font-size: 15px;
  font-weight: 600;
  line-height: 27px;
}

/* 预约须知 */
.main .main-bottom .main-bottom-content:nth-child(4) {
  width: 930px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 12px;
}

.main .main-bottom .main-bottom-content:nth-child(4) h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.main .main-bottom .main-bottom-content:nth-child(4) .text-bottom {
  width: 930px;
  text-align: center;
}

/* 停诊消息 */
.main .main-bottom .main-bottom-content:nth-child(5) h2 {
  width: 400px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  margin-top: 24px;
  font-weight: bold;
  font-size: 18px;
}

.main .main-bottom .main-bottom-content:nth-child(5) table {
  width: 989px;
  margin: 0 auto 20px;
  border: 1px solid #dcdddd;
  border-collapse: collapse;
}

.main .main-bottom .main-bottom-content:nth-child(5) td {
  text-align: center;
  height: 29px;
  font-size: 13px;
  border: 1px solid #dcdddd;
  border-width: 0 1px 1px 0;
  padding: 0 6px;
  color: #555;
}
/* 查询取消 */
.main .main-bottom .main-bottom-content:nth-child(6) {
  width: 100%;
  margin: 100px auto;
  padding: 30px 0;
  border: 1px solid #dcdddd;
  border-width: 1px 0 1px 0;
  font-size: 14px;
  text-align: center;
}
.main .main-bottom .main-bottom-content:nth-child(6) .order-search {
  width: 600px;
  font-size: 14px;
  margin: 0 auto;
}
.main .main-bottom .main-bottom-content:nth-child(6) span {
  display: inline-block;
  width: 100px;
  height: 29px;
  line-height: 29px;
  vertical-align: top;
}
.main .main-bottom .main-bottom-content:nth-child(6) .text {
  display: inline-block;
  width: 185px;
  height: 24px;
  border: 1px solid #dcdddd;
  line-height: 24px;
  font-size: 12px;
  padding: 2px 2px 2px 4px;
  vertical-align: top;
}
.main .main-bottom .main-bottom-content:nth-child(6) .btn{
  border: 0;
  display: inline-block;
  width: 108px;
  height: 29px;
  margin-left: 20px;
  background-color: #00b3ec;
  text-align: center;
  line-height: 27px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  vertical-align: top;
}
/* footer */
.footer {
  line-height: 70px;
  text-align: center;
  font-size: 12px;
  color: #acacac;
}