* {
	margin: 0;
	padding: 0;
	font-family: 'Microsoft YaHei';
}

a {
	text-decoration: none;
	color: #000000;
}

ul {
	list-style: none;
}

/* 清除浮动 */
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* 头部 */
.header {
	min-width: 1200px;
	height: 114px;
	background-color: #efefef;
	border-bottom: 2px solid #79aed8;
}

.header .wrap {
	width: 1200px;
	margin: 0 auto;
}

.header .title {
	width: 500px;
}

.header .title .title-item {
	float: left;
	margin-left: 20px;
	height: 110px;
	line-height: 110px;
	font-size: 26px;
}

.header .title .title-item span {
	font-size: 18px;
	vertical-align: middle;
	color: #9c9c9c;
}

/* logo */
.header .title .logo {
	float: left;
	height: 110px;
	width: 110px;
	background: url('../img/logo.png') center no-repeat;
}

.header .nav {
	height: 106px;
	line-height: 106px;
	float: right;
}

.header .nav div {
	float: left;
}

.header .nav .faq span,
.header .nav .signInUp span:first-child {
	color: rgb(251, 116, 3);
}

.header .nav span {
	cursor: pointer;
}

.faq {
	margin-right: 32px;
}

.signInUp {
	margin-right: 20px;
}

.profile {
	margin-right: 65px;
}

.profile i {
	font-size: 22px;
	vertical-align: middle;
}

.mobile {
	position: relative;
}

.mobile::before {
	cursor: pointer;
	display: block;
	position: absolute;
	top: 43px;
	right: 10px;
	content: '';
	width: 59px;
	height: 85px;
	background: url('../img/phone.png');
	background-size: 17px 23px;
	background-repeat: no-repeat;
}

/* 表单 */
.container {
	min-width: 1200px;
	height: 800px;
}

.container .wrap {
	width: 1200px;
	margin: 0 auto;
}

.container .wrap .currentPage {
	margin: 10px;
	font-size: 18px;
}

.container .wrap .currentPage span {
	color: #9c9c9c;
}

.container .wrap .form {
	margin-top: 13px;
	padding-bottom: 27px;
	border: 1px solid rgb(251, 116, 3);
	border-radius: 10px;
}

.container .wrap .form .title {
	font-size: 18px;
	color: #ffffff;
	background-color: rgb(251, 116, 3);
	border-radius: 6px;
	padding: 8px 0 8px 18px;
}

.container .wrap .form .content {
	width: 625px;
	margin: 52px auto;
	position: relative;
}

.container .wrap .form .content>p {
	position: relative;
	margin-bottom: 16px;
}

.container .wrap .form .content>p span:first-of-type {
	color: rgb(251, 116, 3);
}

.container .wrap .form .content>p input,
.container .wrap .form .content>p select {
	position: absolute;
	box-sizing: border-box;
	width: 34%;
	left: 15%;
}

.container .wrap .form .content>p:last-of-type {
	text-align: center;
}

.container .wrap .form .content>p:last-of-type input {
	position: relative;
	width: auto;
	left: 0;
}

.container .wrap .form .content>p:last-of-type a {
	color: rgb(36, 135, 201);
}

.container .wrap .form .content>p input::-webkit-input-placeholder,
	{
	color: #cccccc;
	text-indent: 5px;
}

.container .wrap .form .content>p input:-ms-input-placeholder {
	color: #cccccc;
	text-indent: 5px;
}

.container .wrap .form .content>p input:-moz-placeholder {
	color: #cccccc;
	text-indent: 5px;
}

.container .wrap .form .content>p input::-moz-placeholder {
	color: #cccccc;
	text-indent: 5px;
}

.container .wrap .form .content>p input::placeholder {
	color: #cccccc;
	text-indent: 5px;
}

.container .wrap .form .content>button {
	cursor: pointer;
	display: block;
	position: relative;
	margin: 65px auto 0;
	right: 70px;
	padding: 0;
	border: 1px solid transparent;
	outline: none;
	background-color: rgb(251, 116, 3);
	color: #ffffff;
	border-radius: 5px;
	font-size: 16px;
	width: 230px;
	height: 37px;
}

/* 底部 */
.footer {
	min-width: 1200px;
	text-align: center;
	padding-top: 20px;
	height: 80px;
	background-color: #efefef;
	border-top: 2px solid #79aed8;
}

.footer a,
.footer p {
	line-height: 30px;
	color: #9c9c9c;
}

.footer p {
	margin-top: 5px;
}