body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/* header区域 */
.header {
	position: relative;
	height: 60px;
	background-color: #000;
}

.header .logo {
	float: left;
	margin: 12px 25px;
	width: 128px;
	height: 36px;
	background: url('../img/logo.png') no-repeat center;
	background-size: cover;
}

.header .nav {
	float: left;
	height: 100%;
}

.header .nav__item {
	display: block;
	float: left;
	padding: 0 25px;
	color: #ffffff;
	font-size: 14px;
	line-height: 60px;
}

.header .nav__item:hover {
	background-color: #363c41;
}

.header .nav__item_icon_new {
	position: relative;
	background-color: #363c41;
}

.header .nav__item_icon_new::after {
	position: absolute;
	top: 8px;
	right: 12px;
	display: block;
	width: 16px;
	height: 16px;
	background-image: url('../img/icon-new.png');
	background-repeat: no-repeat;
	content: ' ';
}

.header .search {
	position: relative;
	float: right;
	margin: 12px 25px;
	padding-right: 25px;
	height: 36px;
}

.header .search__input {
	width: 265px;
	height: 36px;
	outline: none;
	border: none;
	border-bottom: 1px solid #cccccc;
	background-color: #000000;
	color: #ffffff;
}

.header .search::before {
	position: absolute;
	display: block;
	width: 72px;
	height: 30px;
	background-color: #2b333b;
	color: #5c646b;
	content: '前端入门';
	text-align: center;
	font-size: 12px;
	line-height: 30px;
}

.header .search__submit {
	position: absolute;
	top: 4px;
	right: 45px;
	display: block;
	width: 22px;
	height: 22px;
	background-image: url('../img/icon-1-sprite_w22.png');
	background-position: 0 0;
	background-repeat: no-repeat;
}

.header .profile {
	float: right;
	margin-right: 20px;
}

.header .profile__item {
	position: relative;
	display: block;
	float: left;
	width: 60px;
	height: 60px;
}

.header .profile__item:hover {
	background-color: #363c41;
}

.header .profile__cart:before,
.header .profile__message:before {
	position: absolute;
	top: 19px;
	left: 19px;
	display: block;
	width: 22px;
	height: 22px;
	content: ' ';
}

.header .profile__cart:before {
	background-image: url('../img/shopcar.png');
	background-position: 0 -214px;
	background-repeat: no-repeat;
}

.header .profile__message:before {
	background-image: url('../img/icon-1-sprite_w22.png');
	background-position: 0 -44px;
	background-repeat: no-repeat;
}

.header .profile__ava {
	margin: 12px;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: #363c41;
	background-image: url('../img/ava.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

/* banner区域 */
.banner {
	position: relative;
	height: 160px;
	background: url('../img/cart-header-bg.jpg') repeat-x center;
}

/* 结算区域 */
.cart {
	position: relative;
	height: 800px;
}

.cart .container {
	margin: -132px auto 0;
	width: 1200px;
}

.cart .container h1 {
	margin: 0 0 30px;
	font-weight: normal;
}

.cart-content {
	box-shadow: 0 0 10px #888888;
}

.cart-content .title {
	padding-left: 20px;
	height: 60px;
	background-color: #ebebeb;
	font-weight: bold;
	font-size: 16px;
}

.cart-content .title>div {
	display: inline-block;
	height: 60px;
	line-height: 60px;
}

.cart-content .title>div:nth-of-type(1) {
	width: 100px;
}

.cart-content .title>div:nth-of-type(2) {
	width: 420px;
}

.cart-content .title>div:nth-of-type(3) {
	width: 140px;
}

.cart-content .title>div:nth-of-type(4) {
	width: 150px;
}

.cart-content .title>div:nth-of-type(5) {
	width: 230px;
}

.cart-list-item {
	padding: 20px;
	height: 90px;
	border-bottom: 1px solid #c9c9c9;
}

.cart-list-item:last-of-type {
	border: none;
}

.cart-list-item>div {
	display: inline-block;
	vertical-align: 12px;
}

.cart-list-item>div:nth-of-type(1) {
	margin-right: 25px;
}

.cart-list-item>div:nth-of-type(2) {
	margin-right: 5px;
	vertical-align: middle;
	cursor: pointer;
}

.cart-list-item>div:nth-of-type(3) {
	width: 290px;
	vertical-align: 25px;
	font-size: 20px;
}

.cart-list-item>div:nth-of-type(4) {
	width: 140px;
	font-size: 20px;
}

.cart-list-item>div:nth-of-type(5) {
	width: 140px;
	font-size: 20px;
}

.cart-list-item>div:nth-of-type(6) {
	width: 255px;
	font-size: 14px;
}

.cart-list-item>div:nth-of-type(6) input {
	width: 50px;
}
/* 去掉输入框的默认加减按钮 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.cart-list-item>div:nth-of-type(6) span {
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #9c9c9c;
	text-align: center;
	line-height: 10px;
	cursor: pointer;
	user-select: none;
}

.cart-list-item>div:nth-of-type(7) {
	font-size: 14px;
	cursor: pointer;
}

.bill {
	margin-top: 25px;
	height: 50px;
	border: 1px solid #c9c9c9;
}

.bill p {
	float: right;
	margin: 0 30px;
	height: 50px;
	font-size: 14px;
	line-height: 50px;
}

.bill p span {
	color: #f13900;
	vertical-align: middle;
	font-size: 24px;
}

.bill button {
	float: right;
	width: 150px;
	height: 50px;
	outline: none;
	border: none;
	background-color: #f13900;
	color: #ffffff;
	font-size: 18px;
	cursor: pointer;
}

/* footer区域 */
.footer {
	position: relative;
	height: 95px;
	background-color: #000;
	font-size: 12px;
}

.footer .footer-link {
	margin: 0 auto;
	padding: 30px 0 16px 40px;
	width: 1200px;
	height: 15px;
	line-height: 15px;
}

.footer .footer-link__item {
	margin-right: 30px;
	color: #959aa0;
}

.footer .footer-link__item:hover {
	color: #ffffff;
}

.footer .footer-copy {
	margin: 0 auto;
	padding: 0 0 0 40px;
	width: 1200px;
	height: 12px;
	color: #959aa0;
}

.footer .footer-share {
	position: absolute;
	top: 34px;
	right: 40px;
	width: 150px;
	height: 32px;
}

.footer .footer-share__item {
	display: inline-block;
	margin-left: 13px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #000000 url('../img/footer-sprite.png');
	background-position: 0 -279px;
}

.footer .footer-share__item:nth-of-type(2) {
	position: relative;
	background-position: 0 -321px;
}

.footer .footer-share__item:nth-of-type(3) {
	background-position: 0 -363px;
}

.footer .footer-share__item:hover {
	opacity: .6;
}

.footer .footer-share__item:nth-of-type(1):hover+.QR-code {
	visibility: visible;
}

.footer .footer-share .QR-code {
	position: absolute;
	bottom: 27px;
	left: -57px;
	visibility: hidden;
	width: 170px;
	height: 220px;
	background-image: url('../img/footer-sprite.png');
	background-repeat: no-repeat;
}