* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei UI";
}
img {display: block;}
ul {list-style-type: none;}
a {text-decoration: none;color: #fff;}
hr {width: 40px;color: #07cbc9; margin: 20px auto;}
.header,
.footer {
  width: 100%;
  height: 100px;
  background-color: #07cbc9;
}
.header .logo img{
  float: left;
  height: 50px;
  margin: 25px 150px;
}
.header .nav {
  float: right;
  height: 100px;
  margin-right: 100px;
}
.header .nav ul li {
  float: left;
  line-height: 100px;
  text-align: center;
  padding: 0 20px;
  font-weight: bold;
}
.header .nav ul li:hover {
  background-color: #000;
}
.banner .pic img {
  width: 100%;
  height: 800px;
  position: relative;
}
.topLayer {
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
  position: absolute;
  top: 100px;
  width: 100%;
  height: 800px;
}
.banner .topMessage {
  z-index: 2;
  width: 520px;
  height: 400px;
  position: absolute;
  top: 500px;
  margin-top: -200px;
  right: 50%;
  margin-right: -260px;
  text-align: center;
}
.banner .topMessage .text,
.banner .topMessage textarea,
.banner .topMessage .button1 {
  border: 2px solid #7f7f80;
  background-color: transparent;
  color: white;
}
.banner .topMessage::placeholder {
  color: #7f7f80;
}
.banner .topMessage .text:hover,
.banner .topMessage textarea:hover {
  border: 2px solid #07cbc9;
}
.banner .topMessage .button1:hover {
  background-color: #07cbc9;
  color: white;
  border: none;
}
.banner .topMessage .text {
  height: 40px;
  width: 490px;
  margin: 15px 10px;
  padding-left: 10px;
}
.banner .topMessage textarea {
  margin: 15px 10px;
  width: 480px;
  padding: 5px 10px;
}
.banner .topMessage .button1 {
  width: 120px;
  height: 40px;
  margin: 15px auto;
  color: #c0c0c0;
}
.main .about .aboutTop {
  width: 650px;
  margin: 80px auto 20px;
  text-align: center;
}
.main .about .aboutTop p {
  width: 500px;
  height: 80px;
  margin: 20px auto;
  color: #7e7c7c;
}
.main .about .aboutContent img {
  margin: 0 auto 100px;
  z-index: 1;
}
.main .about .aboutContent .aboutLeft {
  width: 370px;
  height: 250px;
  background-color: transparent;
  text-align: left;
  z-index: 2;
  position: absolute;
  top: -500px;
  left: 20%;
}
.main .about .aboutContent .aboutLeft h2 {
  font-size: 30px;
  font-weight: normal;
  padding-bottom: 10px;
}
.main .about .aboutContent .aboutLeft p {
  border: 1px solid #c0c0c0;
  padding: 30px;
}
.main .about .aboutContent .aboutLeft .button2 {
  width: 100px;
  height: 40px;
  margin-top: 15px;
  font-size: 16px;
  color: white;
  border:none;
  background-color: #000;
}
.main .about .aboutContent .aboutRight {
  background-color: red;
}
.main .about .aboutContent .aboutRight div {
  width: 240px;
  height: 150px;
  border: 1px solid #07cbc9;
  text-align: center;
  z-index: 2;
}
.main .about .aboutContent .aboutRight h2 {
  padding: 15px;
  font-size: 30px;
}
.main .about .aboutContent .aboutRight p {
  font-size: 18px;
}
.footer {
  text-align: center;
  line-height: 100px;
  color: #fff;
}
