p {
  margin: 0;
  padding: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #000;
}

select,
input {
  border: none;
  outline: none;
}

/* #top 模块内样式 */

.top .wrap {
  height: 45px;
  line-height: 45px;
  font-size: 12px;
  border-bottom: 1px solid #c0c0c0;
}

.top .top-left {
  float: left;
  padding-left: 10px;
}

.top .top-left :nth-child(1) {
  color: #ff0800;
}

.top .top-left a {
  padding-right: 10px;
}

.top .top-right {
  position: relative;
  float: right;
  padding-right: 20px;
}

.top .top-right a {
  position: relative;
  float: left;
  padding-left: 20px;
}

.top .top-right a img {
  vertical-align: middle;
  padding-left: 5px;
}

/* #header 模块内样式 */

.header .logo {
  width: 136px;
  height: 48px;
  display: inline-block;
  line-height: 48px;
  padding: 38px 0 38px 10px;
}

.header .logo img {
  width: 136px;
  height: 48px;
  vertical-align: middle;
}

/* 搜索栏 */
.header .search {
  width: 678px;
  height: 40px;
  position: absolute;
  left: 260px;
  top: 38px;
}

.header .search input {
  width: 595px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  padding-left: 10px;

}

.header .search input::-webkit-input-placeholder {
  color: #acacac;
}

.header .search a {
  float: right;
  width: 73px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

/* 购物车 */
.header .cart {
  position: absolute;
  width: 160px;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  text-align: center;
  background-color: #f01414;
  top: 38px;
  right: 5px;
}

.header .cart a {
  color: #fff;
}

.header .cart a:before{
  background: url(../img/icon/26.png) no-repeat center;
}

.nav .link {
  display: inline-block;
  line-height: 48px;
  height: 48px;
  text-align: center;
  margin-left: 30px;
  color: #fff;
  min-width: 80px;
  font-size: 16px;
}

.nav .menu {
  width: 208px;
  margin-left: 0;
  background-color: #f01414;
  opacity: 0.9;
  position: relative;
}
.nav .menu .menu-list {
  background-color: #f01414;
  width: 100%;
  height: 518px;
  position: absolute;
  left: 0;
  top: 48px;
}
