* {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  zoom: 1;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.top {
  height: 45px;
  background-color: #f3f5f7;
}

.header {
  height: 124px;
  background-color: #f3f5f7;
}

.nav {
  height: 48px;
  background-color: #07111b;
}

.banner {
  width: 982px;
  margin: 0 auto 50px;
  height: 505px;
  padding: 8px 0 0 216px;
}

.banner-slider {
  float: left;
  width: 728px;
  height: 504px;
  background-color: #8edff3;
}

.banner-news {
  float: right;
  width: 247px;
  height: 198px;
  border: 1px solid #dcdddf;
}

.banner-quicklist {
  float: right;
  width: 248px;
  border-left: 1px solid #dcdddf;
}

.banner-ad {
  float: right;
  width: 248px;
  height: 89px;
  border: 1px solid #dcdddf;
  border-top: none;
}

.linklist {
  border-top: 1px solid #dadbdd;
  height: 138px;
}

.footer {
  height: 68px;
  background: #f4f5f9;
}

.ui-menu-item-detail {
  display: none;
}
